name: "Run Scanner"

on:
  workflow_dispatch:
    inputs:
      # checkov:skip=CKV_GHA_7: Debug input only affects logging verbosity, not build output
      scanner_debug:
        description: "Turn on debug mode for the scanner"
        type: boolean
        required: false
        default: false

permissions:
  contents: read

jobs:
  run-scanner:
    name: Run Scanner
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pages: write
      id-token: write
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Setup Python Dependencies
        uses: ./.github/actions/setup-dependencies
      - name: Run Scanner
        run: just run
        env:
          GITHUB_REPOSITORY_OWNER: ${{ github.repository_owner }}
          FORCE_COLOR: true
          DEBUG: ${{ inputs.scanner_debug }}
      - name: Upload Scanner Results
        uses: actions/upload-artifact@v4.6.0
        with:
          path: tech_report.md
          name: scanner-results

  markdown-tests:
    name: Markdown Tests
    runs-on: ubuntu-latest
    needs: run-scanner
    permissions:
      contents: write
      pages: write
      id-token: write
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Download Scanner Results
        uses: actions/download-artifact@v4.1.8
        with:
          name: scanner-results
      - name: Setup Python Dependencies
        uses: ./.github/actions/setup-dependencies
        with:
          all-dependencies: true
      - name: Run Markdown Tests
        run: just markdown-test
